@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* Elements principaux de la page */
body {
  margin: 0;
  font-family: Roboto, sans-serif; }

h2 {
  font-size: 1.5rem;
  font-weight: bold; }

h3 {
  color: black; }

img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0; }

article {
  box-shadow: 0px 0px 10px lightgrey;
  border-radius: 1rem;
  margin-bottom: 20px;
  background-color: white;
  width: 90%;
  cursor: pointer; }

/* LOADING */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  animation:  2s forwards; }
  .loading::after {
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #9356DC transparent #FF79DA transparent;
    animation: lds-dual-ring 1s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes show-loader {
  0% {
    height: 100%; }
  99% {
    height: 100%; }
  100% {
    height: 0; } }

/* HEADER */
.logo {
  padding: 1rem;
  box-shadow: 0 0 0.5rem lightgrey; }
  .logo__header {
    font-family: Shrikhand;
    display: flex;
    justify-content: center;
    margin: 0; }

/* SECTION SEARCH */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 1.25rem 1rem;
  font-size: 1.3rem;
  color: black; }
  .search__champ {
    background-color: #eaeaea;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: none;
    text-align: center;
    font-size: 1.1rem;
    width: 50%; }

/* SECTION RESERVATION */
.reservation {
  background-color: #f6f6f6;
  text-align: center;
  padding: 2rem;
  padding-bottom: 3rem; }
  .reservation__description {
    padding-bottom: 1rem; }
  .reservation__btn {
    border-radius: 100px;
    border: none;
    padding: 1rem 1.5rem;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0px 0px 10px lightgrey;
    cursor: pointer;
    background: linear-gradient(#ff79da, #9356DC); }
    .reservation__btn:hover {
      transform: scale(1.1); }

/* SECTION FONCTIONNEMENT */
.fonctionnement {
  padding-top: 1rem;
  margin: 1rem;
  padding-bottom: 2rem;
  font-weight: bold; }
  .fonctionnement__icon {
    color: #a3a3a3;
    margin-right: 1.5rem; }
  .fonctionnement__site {
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px lightgrey;
    padding: 1.4rem;
    margin: 1rem 0 1rem 0.75rem;
    display: flex;
    align-items: center; }
    .fonctionnement__site::before {
      color: white;
      display: flex;
      width: 1.5rem;
      height: 1.5rem;
      background-color: #9356DC;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-left: -2.5rem;
      margin-right: 1rem; }
    .fonctionnement__site:nth-of-type(1)::before {
      content: "1"; }
    .fonctionnement__site:nth-of-type(2)::before {
      content: "2"; }
    .fonctionnement__site:nth-of-type(3)::before {
      content: "3"; }

/* SECTION RESTAURANTS */
.restaurants {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  width: 100%;
  padding-bottom: 2rem; }
  .restaurants__title {
    width: 90%;
    margin-top: 2rem; }
  .restaurants__new {
    position: absolute;
    background-color: #99E2D0;
    color: #1b6150;
    padding: 0.5rem;
    right: 2rem;
    margin-top: 0.5rem; }
  .restaurants__name {
    width: 100%; }
  .restaurants__cartes {
    text-decoration: none;
    grid-area: titre;
    margin-left: 10px; }
  .restaurants__adresse {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    grid-area: adresse;
    margin-left: 10px; }
  .restaurants__icon {
    grid-area: coeur;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 30px; }
  .restaurants__icon:hover {
    font-weight: bold;
    background: linear-gradient(#9356DC, #FF79DA);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 3s linear;
    -moz-animation: AnimationName 3s linear;
    animation: AnimationName 3s linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 91% 0%; }
  50% {
    background-position: 10% 100%; }
  100% {
    background-position: 91% 0%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 91% 0%; }
  50% {
    background-position: 10% 100%; }
  100% {
    background-position: 91% 0%; } }

@keyframes AnimationName {
  0% {
    background-position: 91% 0%; }
  50% {
    background-position: 10% 100%; }
  100% {
    background-position: 91% 0%; } }

.restaurants__name {
  display: grid;
  grid-template-areas: "titre coeur"
 "adresse coeur";
  grid-template-rows: 2rem; }

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .search__champ {
    width: 20%; }
  .restaurants__new {
    right: 3rem; }
  .restaurants__icon {
    display: flex;
    justify-content: flex-end;
    margin: 10px; } }

@media screen and (min-width: 1024px) {
  .search__champ {
    width: 15%; }
  .fonctionnement {
    padding: 2rem; }
    .fonctionnement__site {
      display: inline-flex;
      margin: 1rem;
      padding: 1.2rem;
      padding-right: 2rem; }
  article {
    width: 45%;
    margin: 10px;
    margin-bottom: 20px; }
  .restaurants {
    grid-template-areas: "titre ."
 "restau1 restau2"
 "restau3 restau4"; }
    .restaurants__title {
      grid-area: titre; }
    .restaurants__1 {
      grid-area: restau1; }
    .restaurants__2 {
      grid-area: restau2; }
    .restaurants__3 {
      grid-area: restau3; }
    .restaurants__4 {
      grid-area: restau4; }
    .restaurants__new {
      position: unset;
      margin-top: -8.5rem;
      margin-bottom: 6.5rem;
      width: fit-content;
      margin-left: 23rem;
      padding: 0.5rem; }
    .restaurants article {
      display: flex;
      flex-direction: column; }
    .restaurants__icon {
      display: flex;
      justify-content: flex-end;
      margin: 10px; } }

@media screen and (min-width: 1280px) {
  .search__champ {
    width: 12%; }
  .fonctionnement__site {
    margin-right: 2rem;
    padding-right: 6rem; }
  .restaurants__new {
    margin-left: 30rem; } }

@media screen and (min-width: 1440px) {
  .search__champ {
    width: 11%; }
  .fonctionnement__site {
    display: inline-flex;
    justify-content: space-between;
    margin-right: 5rem;
    padding-right: 7rem; }
  article {
    width: 45%; }
  .restaurants__new {
    margin-left: 34.5rem; } }

.footer {
  background-color: #353535;
  margin-top: 2rem;
  padding-bottom: 2rem; }
  .footer__logo {
    font-family: Shrikhand;
    color: white;
    margin-left: 1.5rem;
    padding-top: 1.5rem;
    font-size: 1.3rem; }
  .footer__list {
    list-style: none;
    padding: 0;
    margin-left: 1.5rem; }
  .footer__detail {
    margin: 0.5rem; }
  .footer__icon {
    color: white; }
  .footer__lien {
    text-decoration: none;
    color: white;
    margin-bottom: 0.5rem; }

.logo {
  padding: 0; }
  .logo__icon {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: black;
    cursor: pointer; }
  .logo--back {
    display: grid;
    grid-template-areas: "fleche logo .";
    grid-template-columns: 2rem auto 2rem;
    align-items: center; }
    .logo--back a {
      text-decoration: none; }

.img {
  border-radius: 0;
  object-fit: cover;
  height: 20rem; }

.menu {
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  padding: 1rem;
  font-family: Roboto, sans-serif;
  margin-top: -3rem;
  position: relative; }
  .menu__title {
    font-family: Shrikhand;
    display: flex;
    justify-content: space-between;
    border-radius: 1.5rem 1.5rem 0 0; }
  .menu h3::after {
    width: 3rem;
    display: block;
    content: " ";
    background: #99E2D0;
    height: .2rem; }
  .menu__icon {
    cursor: pointer; }
  .menu__icon:hover {
    font-weight: bold;
    background: linear-gradient(#9356DC, #FF79DA);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 3s linear;
    -moz-animation: AnimationName 3s linear;
    animation: AnimationName 3s linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 91% 0%; }
  50% {
    background-position: 10% 100%; }
  100% {
    background-position: 91% 0%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 91% 0%; }
  50% {
    background-position: 10% 100%; }
  100% {
    background-position: 91% 0%; } }

@keyframes AnimationName {
  0% {
    background-position: 91% 0%; }
  50% {
    background-position: 10% 100%; }
  100% {
    background-position: 91% 0%; } }

.onglet {
  width: 90%;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-areas: "titre prix ."
 "detail prix check";
  cursor: pointer;
  animation: onglet 0.8s; }
  .onglet__title {
    margin: 0;
    grid-area: titre; }
  .onglet__detail {
    margin: 0;
    grid-area: detail; }
  .onglet__price {
    grid-area: prix;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    font-weight: bold; }
  .onglet__check {
    display: flex;
    justify-content: flex-end; }
  .onglet__icon {
    color: #99E2D0;
    width: auto;
    grid-area: check;
    display: flex;
    border-radius: 100px;
    border: solid 1px black;
    padding: 0.4rem; }
  .onglet--1 {
    animation-delay: 0.2s; }
  .onglet--2 {
    animation-delay: 0.3s; }
  .onglet--3 {
    animation-delay: 0.4s; }
  .onglet--4 {
    animation-delay: 0.5s; }
  .onglet--5 {
    animation-delay: 0.6s; }
  .onglet--6 {
    animation-delay: 0.7s; }
  .onglet--7 {
    animation-delay: 0.8s; }
  .onglet--8 {
    animation-delay: 0.9s; }
  .onglet--9 {
    animation-delay: 1s; }
  .onglet--10 {
    animation-delay: 1.1s; }

@keyframes onglet {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.entrees__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
  margin-top: 2rem; }

.plats__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
  margin-top: 2rem; }

.desserts__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
  margin-top: 2rem; }

.btn {
  display: flex;
  justify-content: center;
  margin-top: 3rem; }
  .btn__command {
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0px 0px 10px lightgrey;
    cursor: pointer;
    background: linear-gradient(#ff79da, #9356DC); }
    .btn__command:hover {
      transform: scale(1.1); }

/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  .cartes {
    display: grid;
    grid-template-areas: "entrees plats desserts"
 ". bouton ."; }
  .entrees__title {
    grid-area: entrees; }
  .plats__title {
    grid-area: plats; }
  .desserts__title {
    grid-area: desserts; }
  .btn {
    grid-area: bouton; }
  .onglet {
    width: 80%; } }
